*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.conteiner{
    background-color: black;
    width: 400px;
    height: 510px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.conteiner label{
    color: white;
}

.conteiner input{
    width: 100%;
}