*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{



}

.loginn{
  background-color:transparent;
  border: solid 1px #ffDE59;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  right: -150px;
}

.loginn a{ 
  text-decoration: none;
  color: #ffDE59;
}
.navbar{
 background-color: #000000;
}
.container-fluid{
  background: #000000;
  color: #ffDE59;
  height: 70px;
  margin: 0px;
}

.container-fluid .nav-link{
font-size: 24px;
color:#ffDE59;
margin-left: 100px;

}

.container-fluid .nav-link:not(:hover){
  font-size: 24px;
  color:#ffDE59;
  margin-left: 100px;  
}



.container-fluid .navbar-brand{
  color: #ffDE59;
  font-size: 30px;
  margin-left: 5px;
}

.container-fluid .navbar-brand:hover{
  color: #ffDE59;
}

.container-fluid a:hover{
  color: #ffDE59;
}



.borda{
  background-color: rgb(0, 0, 0);
  height: 0px;
  width: 100%;
  top: 0;
 position: fixed;
}
.borda h1{
  position: absolute;
  color: rgb(0, 0, 0);
 text-align: center;
 transform: translate(25%,25%);
 font-size: 45px;
 font-family: Arial;
 top: 0;
 position: fixed;

}


