*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

.banner{
    width: 100vw;
    position: relative;
    top: 100px;
}

.tabelas_treino{
    position:absolute ;
    left: 50%;
    transform: translate(-50%,20%);
}